<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.7.13/dist/vue.js" defer></script> 
    <script src="js/script.js" defer></script>

    <style>
        [v-cloak]{
            display: none;
        }
    </style>

    <title>vue-boolzapp</title>
</head>
<body>
    <!-- Background -->
    <div class="containerBack">
        <div class="bannerBack"></div>
    </div>
    <!-- Main App -->
    <div class="container main" id="root" v-cloak>

        <!-- Parte a sinistra -->
        <div class="containerLeft">

            <div class="profileBox">
               <div class="imgBox">
                    <img src="img/IMG_4127.JPG" alt="" class="avatar">
                    <div>Giulio</div>
               </div>
               <div class="buttonProfile">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
               </div> 
            </div>
            <div class="notificationBox">
                    <div class="imgBox">
                        <div class="avatar"><i class="fa-solid fa-bell-slash" id="bellIcon"></i></div>                      
                   </div>
                   <div class="chatName">
                        <div id="notificationText">Ricevi notifiche di nuovi messaggi</div>
                        <a href="">Attiva le notifiche Desktop</a>
                   </div>
            </div>
            <div class="searchBox">
                <div class="searchSection">
                    <i class="fa-solid fa-magnifying-glass" id="specialIcon"></i>
                    <input type="text" class="typeSearch" placeholder="Cerca o inizia una nuova chat">
                </div>
                
            </div>
            
            <!-- Lista chat -->
            <div class="listChat">              
                <div class="chatPreview" v-for="(obj, i) in contacts" @click="modifyActiveIndex(i)" >
                    <div class="imgBox">
                        <img :src="`img/${obj.avatar}`" alt="" class="avatar">                      
                   </div>
                   <div class="chatName">
                        <div class="nameSection">
                            <div>{{ obj.name }}</div>
                            <div class="messagePreview">12:00</div>
                        </div>
                        <div class="messagePreview">{{ obj.messages[obj.messages.length - 1].message }}</div>
                   </div>
                </div>
                
            </div>           
        </div>

        <!-- Parte a destra -->
        <div class="containerRight">

            <!-- Profilo della chat aperta -->
            <div class="profileBox" id="specialProfileBox">
                <div class="imgBox">
                     <img :src="`img/${contacts[activeIndex].avatar}`" alt="" class="avatar">
                     <div>
                        <div>{{ contacts[activeIndex].name }}</div>
                        <div class="messagePreview">Ultimo accesso oggi alle 17:30</div>
                     </div>
                     
                </div>
                <div class="buttonProfile">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-sharp fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div> 
            </div>

            <!-- Sezione principale chat -->
            <div class="chat">
                <div v-for="(obj, i) in contacts[activeIndex].messages">
                    <div class="boxSent" v-if="obj.status === 'sent' ">
                        <div class="sentChat" >
                            {{ obj.message }}                                     
                        </div>
                    </div>
                    <div class="boxReceived" v-if="obj.status === 'received' ">
                        <div class="receivedChat" >
                            {{ obj.message }}                                     
                        </div>
                    </div>
                </div>
 
            </div>
 
            <!-- sezione per scrivere messaggio -->
            <div class="chatBox">
                <i class="fa-regular fa-face-smile"></i>
                <input type="text" class="typeBox" placeholder="Scrivi un messaggio" @keyup.enter="addMessage[activeIndex]" v-model="newMessage.message">
                <i class="fa-solid fa-microphone"></i>
            </div>             
        </div>

    </div>
</body>
</html>